// Override FKUI button styles
.button.button--primary,
.button--primary {
	// Only override what needs to change
	background-color: var(--hx-primary);
	font-family: var(--hx-font-family);
	border-radius: .5rem; // Different from FKUI

	&:hover {
		background-color: var(--hx-primary--hover);
		color: var(--hx-color-action-text-inverted-hover);
	}
}